header {
    background-color: blue;
    text-align: center;
    width:fit-content ;
    margin:0 auto;
    padding: 0.9em;
    border: 2px solid #fff;
    border-radius: 10px 100px 100px 10px;
    font: bold 20px verdana, Geneva, sans-serif;
    box-shadow: #8789b4f9 10px 10px 10px;
    text-shadow: #8bb487f9 2px 2px 2px;
    }
header:hover{
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(10deg);
}

body {
    /* background-color: rgba(0, 75, 251, 0.4); */
    background-image: url("images/rayos.jpg");
    background-size: cover;

}
ul{
    margin: 10px auto;
    text-align: center;
    }
li{
    display: inline;
    background-color: rgb(167, 206, 51);
    font: 1.2em arial;
}

aside {
    /* background-color: rgb(66, 206, 206); */
    background-image: url("images/bom.png");
    background-size: cover;
    float: left;
}
figure{
margin-top: 10px;
}

#principal {
    background-color: blueviolet;
     margin-left: 240px;
    margin-right: 100px;
    padding: 5%;
    font-family: Verdana, sans-serif;
    font-size: 18px;
   
}

.clase{
    background-color: rgba(215, 245, 20, 0.623);
    width: fit-content;
    padding: 5%;
}
blockquote{
    background-color: rgba(236, 220, 43, 0.559);
    width: fit-content;
    font-size: 19px;
    /* padding: 3%; */

}
p{
    background-color: rgb(223, 247, 15);
    max-width: fit-content;
    color: rgb(30, 18, 9);
}
a{
    text-decoration: none;
    color:#000 ;
    font-family: Agbalumo ;
}
a:hover{
    background: #000;
    color: #e7dfdf;
}